#secTion1{
  height: 80vh;
  cursor: pointer;
  /* background-color: aliceblue; */
}
#navBar{
  position: fixed;
  margin-top: 20px;
  z-index: 10;
}
#link1{
    color: white;
    font-size:smaller; 
    margin-left: 150px;
}

#link2{
  color: white;
  font-size:smaller; 
  margin-left: 40px;
}

#link3{
  color: white;
  font-size:smaller; 
  margin-left: 40px;
}

#link4{
  color: white;
  font-size:smaller; 
  margin-left: 640px;
}

#link1:hover{
  border-bottom:thin solid white;
  transform:scale(150%);
  transition: 1s;
  color: white;
}

#link2:hover{
  border-bottom:thin solid white;
  transform:scale(150%);
  transition: 1s;
  color: white;
}

#link3:hover{
  border-bottom:thin solid white;
  transform:scale(150%);
  transition: 1s;
  color: white;
}

#link4:hover{
  border-bottom:thin solid white;
  transform:scale(150%);
  transition: 1s;
  color: white;
}
#cOl{
  height: 67vh;
  /* border: thin solid white; */
  width: 60%;
  /* line-height: 20px; */
}
#fadeIn{
  height: 67vh;
  /* border: thin solid white; */
  width: 40%;
  background-image: url(./images/pexels-engin-akyurt-1446948.jpg);
  background-size: 100% 100%;
}

#bounceIn{
  color: white;
  font-family: sans-serif;
  font-size: 27px;
  margin-top: 130px;
  margin-left: 50px;
}
#rubberBand{
  color: white;
  font-family:sans-serif; 
  font-size: 30px;
  font-weight: 800;
  margin-left: 50px;
}
#flip{
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  margin-left: 50px;
}

body {
  background: white;  
 }
 
 #container {
   position: absolute;
   width: 200px;
   height: 200px;
   margin: auto;
   transform: rotate(45deg);
   top: 0; bottom: 0; left: 0; right: 0;
 }


 @keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#fadeIn {
  animation-name: fadeIn;
  transition: 3s;
  animation-timing-function: ease-in-out;
  /* animation-delay: ; */
  /* animation-iteration-count: 2; */
  animation-duration: 15s;
}


@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

#bounceIn {
  animation-duration: calc(var(--animate-duration) * 0.75);
  animation-name: bounceIn;
  transition:3s;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: bounceIn;
  animation-duration: 15s;
  animation-delay: 1ms;
  animation-direction:normal;
  animation-iteration-count: 1;
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

#rubberBand {
  animation-duration: calc(var(--animate-duration) * 0.75);
  animation-name: rubberBand;
  transition:3s;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: rubberBand;
  animation-duration: 15s;
  animation-delay: 1ms;
  animation-direction:normal;
  animation-iteration-count: 1;
}



@keyframes flip {
  from {
    transform: perspective(800px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);
    animation-timing-function: ease-out;
  }

  40% {
    transform: perspective(800px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
      rotate3d(0, 1, 0, -190deg);
    animation-timing-function: ease-out;
  }

  50% {
    transform: perspective(800px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
      rotate3d(0, 1, 0, -170deg);
    animation-timing-function: ease-in;
  }

  80% {
    transform: perspective(800px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0)
      rotate3d(0, 1, 0, 0deg);
    animation-timing-function: ease-in;
  }

  to {
    transform: perspective(800px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
    animation-timing-function: ease-in;
  }
}

#flip {
  backface-visibility: visible;
  animation-name: flip;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-direction: normal;
}

